#json-didsplay tr:nth-child(even) {
    background-color: rgb(150, 13, 13);
}

/* table {
    border-collapse: collapse;
} */

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    position: relative;
    width: 100%;
    height: 500px; /* Set the desired height for the scrollable container */
    overflow: hidden;
  }

.table-header {
    position: sticky;
    top: 0;
    background-color: #3326a5; /* Set your preferred background color for the header */
    /* Add any other styles you want for the header */
}
  
  .table-content {
    overflow: scroll;
    height: 100%;
    /* Add any other styles you want for the scrollable content */
}

#sidebar-navigation {
    height: 800px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    margin-right : 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* border-style: solid; */
    /* border-color: red; */
    border-radius: 5px;
}

#center-container {
    height: 800px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    margin-right : 20px;
    margin-bottom: 20px;
    /* border-style: solid; */
    /* border-color: red; */
    border-radius: 5px;
    overflow: hidden;
}

#right-sidebar {
    height: 800px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    margin-right : 20px;
    margin-bottom: 20px;
    /* border-style: solid; */
    /* border-color: red; */
    border-radius: 5px;
}

main {
    max-height: 900px;
    max-width: 100%;
    margin-top: 20px;
    margin-right : 20px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* .report-table {
    overflow: scroll;
} */

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

img { 
    max-width: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.7); */
}


body {
    background-image: url('/img/index_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    /* background-color:  rgba(155, 19, 19, 0.7); */
    /* color: white; */
    padding: 5px;
}

h4 {
    /* background-color:  rgba(155, 19, 19, 0.7); */
    /* color: white; */
    padding: 5px;
}
