#json-didsplay tr:nth-child(even) {
    background-color: rgb(150, 13, 13);
}

table {
    border-collapse: collapse;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 1500px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

img { 
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
